@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
 }
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
/* start of info description */
.bg{
    height: 50px;
    color: #a9a9a9;
    background-color: #383838;
}
.info ul{
    display: flex;
    list-style: none;
}
.info ul li{
    padding: 5px 0px 0px 20px;
}
.col.log-in {
    display: flex;
    display: flex;
    padding: 5px 10px;
}
.log-in input{
    background: transparent;
    border: none;
}
.log-in .magnifying-glass{
    padding: 10px 15px;
}
/* end of info description */ */
/* start of main header  */
.main-header{
    height: 115px;
}
.main-header .logo img{
    padding: 30px 50px;
}
.main-header nav {
	border:0px solid white;
	margin-top:40px;
    font-family: 'Roboto', sans-serif;
}
nav i {
	font-size:11px;
}
nav li{
    list-style: none;
}
nav ul  {
	display: flex;
}
nav ul li a {
	padding:0px 12px;
	font-size:12px;
	letter-spacing:2px;
    color: #3f3f3f;

}
nav ul li ul {
	display:none;
	position:absolute;
	z-index:2;
}
nav ul a:hover{
    text-decoration: none;
}
nav ul li:hover>ul   {
	display:block;
    
}
.gio-hang ul{
    list-style: none;
    display: flex;
    margin: 30px 5px;
}
.gio-hang li{
    border: 1px solid #7AAEDD;
    padding: 10px 10px;
}
.gio-hang .cart{
    background: #7AAEDD;
    padding: 10px 10px;
}
/* end of main header  */
/* start of product menu */
.product-menu ul{
    list-style: none;
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
}
.product-menu .nav-bar{
    background: #EAEAEA;
}
.product-menu ul li{
    height: 60px;
    padding-top: 18px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
}
.product-menu li .text{
    width: 250px;
}
.product-menu li .icon-left{
    padding: 2px 20px;
}
.product-menu li .icon-right{
    margin-right: 50px;
}
.photo img{
    justify-content: center;
    padding-top: 30px;
}
/* end of product menu */
/* start of slider */
.belike{
    margin: 10px 15px;
}
.belike .tittle{
    height: 50px;
    display: flex;
    border-bottom: 1px solid #a9a9a9;
}
.belike .tittle .icon{
    text-align: center;
    width: 50px;
    padding-top: 10px;
}
.belike .tittle button{
    width: 30px;
    height: 30px;
    border: 1px solid #a9a9a9;
}
.belike .tittle .title-text{
    text-align: center;
    width: 700px;
    padding-top: 10px;
}
.belike .main-belike{
    margin-top: 20px;
    display: flex;
}
.belike .ao-belike img{
    width: 100%;
}
.belike .main-belike .sale-rate{
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    padding: 7px;
    font-size: 14px;
    font-weight: 800;
    background: #F23434;
    position: relative;
    top: -365px;
}
.belike .card-body{
    text-align: justify;
}
.belike .card-body .card-title span{
    color: #6986CA;
    font-weight: 700;
}
/* end of slider */
/* start of product widget */
.product-widget ul{
    list-style: none;
}
.product-widget .photo img{
    width: 100%;
    padding: 25px 10px;
}
.product-widget .card-body-info{
    text-align: center;
    border: 1px solid #E8E8E8;
}
.product-widget .card-body-info h5{
    padding: 15px 15px;
}
.product-widget .card-body-info input{
    margin-bottom:  15px;
}
.product-widget .card-body-info button{
    margin: 15px 15px;
}
/* end of product widget */